<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>None</DebugType>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
    <PublishTrimmed>false</PublishTrimmed>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishDir>$(MSBuildProjectDirectory)\..\publish\win-x86\</PublishDir>
  </PropertyGroup>
  <Target Name="RemovePublishSymbols" AfterTargets="Publish">
    <ItemGroup>
      <PublishSymbols Include="$(PublishDir)**\*.pdb" />
    </ItemGroup>
    <Delete Files="@(PublishSymbols)" />
  </Target>
</Project>
